body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}


#questionExp {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 10px; /* Espaçamento entre os botões */
}




